label {
    display: block;
    font-size: 2rem;
    padding: 2rem 0 1rem;
}

textarea,
input {
    outline: none;
    padding-left: 0.5rem;
}

input,
button {
    height: 30px;
}

.container {
    text-align: center;
}

p {
    padding-top: 2rem;
}